body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: 0; /* Allow container to shrink */
}

.logo-image {
  width: 50px; /* Reduced size */
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  flex-shrink: 0; /* Prevent logo from shrinking */
}

header {
    background-color: #f56e6e;
    color: #fff;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 1.5rem; /* Base size for title */
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Show ... if text is too long */
}

nav {
    display: flex;
    gap: 15px;
    flex-wrap: nowrap;
    margin-right: 2%;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    white-space: nowrap;
    transition: color 0.3s;
}

nav a:hover {
    color: #000000;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
    .logo-image {
        width: 40px;
        height: 40px;
    }

    header h1 {
        font-size: 1.2rem;
    }

    nav {
        gap: 10px;
    }

    nav a {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    .logo-container {
        gap: 3px;
    }

    .logo-image {
        width: 35px;
        height: 35px;
    }

    header h1 {
        font-size: 1rem;
    }

    header {
        padding: 8px 10px;
    }

    nav {
        gap: 8px;
    }

    nav a {
        font-size: 0.8rem;
    }
}

.hero {
    background: url('popcorn.jpeg') no-repeat center center/cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.hero h2 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5rem;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f56e6e;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #e65b50;
}

.features {
  padding: 50px 20px;
  text-align: center;
}

.features h3 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.features .grid {
  display: grid;
  gap: 20px;
}

.card {
  position: relative;
  padding: 20px 90px; /* Increased side padding */
  border: 1px solid #eaeaea;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px auto;
  max-width: 80%;
  width: 90%;
}

.card-image {
  position: absolute;
  top: 50%;
  width: 70px;
  height: 70px;
  transform: translateY(-50%);
}

.card-image.left {
  left: 10px;
}

.card-image.right {
  right: 10px;
}

.sustainable-card .card-image {
  width: 70px;
  height: 50px;
}

.card .card-content {
  padding: 10px;
}

.features .card h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.features .card p {
  font-size: 1rem;
  color: #555;
}

/* Media query for mobile screens */
@media screen and (max-width: 480px) {
  .card {
      padding: 20px 100px; /* Even more side padding on mobile */
      max-width: 95%;
      width: 95%;
  }
  
  .card-image {
      width: 60px;
      height: 60px;
  }
  
  .sustainable-card .card-image {
      width: 60px;
      height: 45px;
  }
}

.features2 {
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.features2 .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  max-width: 1200px; /* Set a max-width for larger screens */
  margin: 0 auto; /* Center the grid */
  padding: 20px; /* Consistent padding around the grid */
  box-sizing: border-box;
}

.features2 h5 {
  font-size: 2rem;
  margin-bottom: 30px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.features2 .card {
  background: #fff;
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 80%; /* Make all cards the same height */
  width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word; /* Ensure long words break */
  min-width: 0; /* Prevents flex items from overflowing */
}

.features2 .card h6 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.features2 .card p {
  font-size: 1rem;
  color: #555;
}

.cheese-outline {
  width: 100px;
  height: 100px;
  background: url('cheese.png') no-repeat center center;
  background-size: contain;
  -webkit-mask: url('cheese.png') center center no-repeat;
  -webkit-mask-size: contain;
  mask: url('cheese.png') center center no-repeat;
  mask-size: contain;
  background-color: white; /* Outline color */
}

.cheese-container{
  display: flex; /* Aligns items in a row */
  align-items: center; /* Vertically centers the title with the image */
  gap: 10%; /* Adds some space between the image and the title */
}

.cheese-container h6 {
  margin: 0; /* Remove any default margins */
  position: relative; /* Allows adjustment */
  top: -0.5%; /* Moves the title upward */
  text-align: center; /* Aligns the text properly */
}

.bacon-outline {
  width: 100px;
  height: 100px;
  background: url('bacon.png') no-repeat center center;
  background-size: contain;
  -webkit-mask: url('bacon.png') center center no-repeat;
  -webkit-mask-size: contain;
  mask: url('bacon.png') center center no-repeat;
  mask-size: contain;
  background-color: white; /* Outline color */
}

.bacon-container{
  display: flex; /* Aligns items in a row */
  align-items: center; /* Vertically centers the title with the image */
  gap: 10%; /* Adds some space between the image and the title */
}

.bacon-container h6 {
  margin: 0; /* Remove any default margins */
  position: relative; /* Allows adjustment */
  top: -0.5%; /* Moves the title upward */
  text-align: center; /* Aligns the text properly */
}

.chicken-outline {
  width: 100px;
  height: 100px;
  background: url('chicken.jpg') no-repeat center center;
  background-size: contain;
  -webkit-mask: url('chicken.jpg') center center no-repeat;
  -webkit-mask-size: contain;
  mask: url('chicken.jpg') center center no-repeat;
  mask-size: contain;
  background-color: white; /* Outline color */
}

.paprika-container{
  display: flex; /* Aligns items in a row */
  align-items: center; /* Vertically centers the title with the image */
  gap: 10%; /* Adds some space between the image and the title */
}

.paprika-container h6 {
  margin: 0; /* Remove any default margins */
  position: relative; /* Allows adjustment */
  top: 10%; /* Moves the title upward */
  text-align: center; /* Aligns the text properly */
}

.bucket {
  display: flex; /* Horizontal layout for text and image */
  align-items: flex-start; /* Align content vertically */
  justify-content: space-between; /* Ensure proper spacing */
  gap: 10px; /* Space between text and image */
  padding: 20px;
  height: 40%;
}

.bucket-content {
  display: flex; /* Use flexbox for the content */
  flex-direction: column; /* Stack the title and text vertically */
  max-width: 60%; /* Ensure text content doesn't stretch too wide */
  width: 100%; /* Make it adapt to available space */
}

.bucket-image {
  width: 100%; /* Image width adjusts to its container */
  height: 100%;
  max-width: 1400px; /* Set a maximum width for the image */
  object-fit: cover; /* Ensure the image fills its area properly */
}

.bucket h5 {
  font-size: 2rem;
  margin: 0 0 10; /* Add space below the title */
  text-align: center;
}

.bucket p {
  font-size: 1rem;
  margin: 5px 0; /* Add spacing between paragraphs */
  text-align: center;
}

.squad {
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  width: 100%
}

.squad .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  width: 100%;
}

.squad h5 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.squad .card {
  width: 90%; /* Fixed card width */
  height: 80%; /* Fixed card height */
  padding: 25px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  margin: 0 auto;
}

.squad .card h6 {
  font-size: 1.2rem;
  margin: 0;
  flex: 1; /* Allow name text to take available space */
  text-align: center; /* Align name to the left */
}

.squad .card p {
  font-size: 0.75rem;
  color: #555;
  margin: 10px 0 0 10px;
}

.person-image {
  width: 120px; /* Adjust size */
  height: 120px;
  object-fit: cover;
  border-radius: 50%; /* Makes the image circular, optional */
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
